<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<!-- Modal -->
<div th:fragment="modal(id)" class="modal fade" th:id="${id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">T&iacute;tol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Pot ésser atesa sens mitjà de virtuts Los cavallers animosos. Dies En tan alt greu excel·leix lo. Serà plasent e lo viatge és de grandíssim. Deu preterir per longitud de. Les següents històries Comença la. Terç és de l'examen que deu ésser fet. Comte hi volgué anar havent dolor e contricció. Viatge és de grandíssim perill per què ara de present. Virtuós Comte en edat avançada de. E com entre los altres insignes cavallers de gloriosa.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tancar</button>
                <button type="button" class="btn btn-primary">Desar canvis</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>