<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Aplicaci&oacute; demo d&apos;SpringBoot + Thymeleaf + Bootstrap + Modals</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.1/css/bootstrap.min.css} "/>
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Aplicaci&oacute; demo d&apos;SpringBoot + Thymeleaf + Bootstrap + Modals</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Inici
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-implementat" data-element="Quant a" href="#">Quant a</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-implementat" data-element="Serveis" href="#">Serveis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link no-implementat" data-element="Contacte" href="#">Contacte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row mt-5">
        <div class="col">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Llen&ccedil;ar modal simple
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                Modal din&agrave;mica 1
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                Modal din&agrave;mica 2
            </button>

            <th:block th:replace="_modals :: modal('exampleModal')">modal</th:block>
            <th:block th:replace="_modals :: modal('exampleModal1')">modal</th:block>
            <th:block th:replace="_modals :: modal('exampleModal2')">modal</th:block>
            <th:block th:replace="_modals :: modal-alert('exampleModal3')">modal</th:block>
        </div>
    </div>
</div>

<div class="container">
	<h1 class="display-4" th:text="${requestUrl}">request-url</h1>
	<h3 class="display-4">Headers</h3>
    <div class="row" th:each="header : ${headers}">
    	<div class="col">
    		<span class="lead" th:text="${header.name}">name</span>
    	</div>
    	<div class="col">
    		<span th:text="${header.value}">value</span>
    	</div>
    </div>
	<h3 class="display-4">Cookies</h3>
    <div class="row" th:each="cookie : ${cookies}">
    	<div class="col">
    		<span class="lead" th:text="${cookie.name}">name</span>
    	</div>
    	<div class="col">
    		<span th:text="${cookie.value}">value</span>
    	</div>
    </div>
	
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<script>
	$('#exampleModal').on('show.bs.modal', function () {
    	$('#exampleModal').find('#titol-modal').html('Modal din&agrave;mica simple!');
	});
    $('#exampleModal1').on('show.bs.modal', function () {
        $.get("/modals/modal1", function (data) {
        	$('#exampleModal1').find('#titol-modal').html('Modal din&agrave;mica 1!');
            $('#exampleModal1').find('.modal-body').html(data);
        })
    });

    $('#exampleModal2').on('show.bs.modal', function () {
        var name = prompt("Sisplau, com et dius?", "Joan Petit");
        $.get("/modals/modal2?name=" + name, function (data) {
        	$('#exampleModal2').find('#titol-modal').html('Modal din&agrave;mica 2!');
            $('#exampleModal2').find('.modal-body').html(data);
        })
    })
    $(".no-implementat").on('click', function() {
    	var element = $(this).data('element');
    	$.get("/modals/no-implementat?element=" + element, function (data) {
            $('#exampleModal3').find('.modal-body').html(data);
            $('#exampleModal3').modal("show");
        })
    })
</script>

</body>
</html>